@import 'Mixin.scss';

.contact {
    h2 {
        @include h2-common-style;
        margin-top: 80px;
    }

    .contactDescription {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }

    .contactEmail {
        @include contact-common-style;
        width: 23.5%;
        margin-bottom: 30px;
        .iconeMail {
            width: 25px;
        }
        .mailTo {
            @include link-common-style;       
        }
    }
    
    .contactPhone {
        @include contact-common-style;
        width: 16%;
        margin-bottom: 15px;
        .iconePhone {
            width: 39px;
            height: 41px;
        }
        .phoneNumber {
            font-size: 20px;
        }
    }

    .localisation {
        @include contact-common-style;
        width: 11%;
        align-items: center;
        .iconeLocalisation {
            width: 39px;
            margin-bottom: 10px;   
        }
        .toLocalisation {
            @include link-common-style;
        }  
    }
}

@media screen and (max-width: 1265px) {
    .contact {
        .contactEmail {
            .mailTo {
                margin-left: 15px;
            }
        }
        .contactPhone {
            .phoneNumber {
                margin-left: 10px;
            }
        }
        .localisation {
            .toLocalisation {
                margin-left: 10px;
            }
        }
    }
}