@import 'Mixin.scss';

.header {
    @include contact-common-style;
    @include header-footer-common-style;
    justify-content: space-between;
    .title {
        font-size: 20px;
        width: 37%;
        margin-left: 10px;
        h1 {
            font-weight: normal;
        }
        h2 {
            letter-spacing: 9px;
            font-size: 18px;
            margin-top: -15px;
            margin-left: 50px;
            font-weight: bold;
            color: #4FFF19;
        }
    }
    .navbar {
        width: 62%;
        font-size: 33px;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding-inline-start: 0;
            .navItem {
                cursor: pointer;
                transition: color 0.3s ease-in-out;
                .navItemContent{
                    &:hover {
                    color: #4FFF19;
                    }  
                }
                
            }
        }
    }
}

@media screen and (max-width: 1185px) {
    .header {
        flex-direction: column;
        .title {
            margin: auto;
            width: 100%;
            margin-bottom: -20px;
            h1, h2 {
                text-align: center;
            }
            h2 {
                margin-left: 0px;
            }
        }
        .navbar {
            width: 100%;
        }
    }
}

@media screen and (max-width: 720px) {
    .header {
        .navbar {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .navbar {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 440px) {
    .header {
        .title {
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 16px;
                letter-spacing: 7px;
            }
        }
        .navbar {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 365px) {
    .header {
        .navbar {
            font-size: 16px;
        }
    }
}